body{
    background-color: aliceblue;

}

div{
    display: inline-block;
}

h3{
    text-align: center;
}

.top-genre, .top-artist, .popular, .acoutstic, .one-hit, .acoustic, .club, .running, .studying {
    display: inline-block;
    width: 450px;
    height: 400px;
    margin:10px;
    padding: 30px;
    border-radius: 20px;
}

.top-genre, .studying{
    background-color: #b3c28c;
}
.top-artist, .running{
    background-color: #b2beec;
}
.popular, .acoustic{
    background-color: #fbebb3;
}

.one-hit, .club{
    background-color: #fff1f2;
}

ul > li {
    list-style: none;
}


header .header{
    width: 1000px;
    background-color: #eba2ac;
    padding: 10px;
    text-align: center;
    border-radius: 20%;
    align-content: center;
    

}

.desc{
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
}