body{
    background-color: var(--background);
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkbrown);
}
.body{
    display: block;
}

a:link    { color: var(--darkbrown);}
a:visited { color: var(--darkbrown);}
a:hover   { color: var(--highlight-color);}
a:active  { color: var(--highlight-color);}

div{
    display: inline-block;
}

h3{
    text-align: center;
}

.top-genre, .top-artist, .popular, .acoutstic, .one-hit, .acoustic, .club, .running, .studying {
    display: inline-block;
    width: 700px;
    height: 300px;
    margin:10px;
    padding: 30px;
    border-radius: 20px;
}

.top-genre, .studying, .popular, .club{
    background-color: var(--pink);
}
.top-artist, .running, .one-hit,.acoustic{
    background-color: var(--teal);
}

header, main ,footer { 
    padding-top: 30px;
    text-align: center;
    align-content: center;    
}

.column ul{
    padding-top: 2px;
    text-align: start;
}
nav{
    padding: 30px;
}

nav ul li a{padding:30px;}
nav ul li{
    padding-left: 30px;
    padding-right:30px;
    align-items: center;
}

ul > li {
    display: inline-block;
    list-style: none;
 

}

li span{
    font-weight: bold;
}

footer a, .desc a{
    background-color: #e0ded1;
    padding: 10px;
    border-radius: 10px;

}
header .header{
    width: 1000px;
    background-color: #eba2ac;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
    align-content: center;
}

.desc{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
img{height: 30px; width: 30px; margin-right: -20px;}