.body{
    display: block;
}

div{
    display: inline-block;
}

h3{
    text-align: center;
}

.top-genre, .top-artist, .popular, .acoutstic, .one-hit, .acoustic, .club, .running, .studying {
    display: inline-block;
    width: 700px;
    height: 300px;
    margin:10px;
    padding: 30px;
    border-radius: 20px;
}

.top-genre, .studying, .popular, .club{
    background-color: var(--pink);
}
.top-artist, .running, .one-hit,.acoustic{
    background-color: var(--teal);
}

.column ul{
    padding-top: 2px;
    text-align: start;
}

ul > li {
    display: inline-block;
    list-style: none;
}

li span{
    font-weight: bold;
}

footer a, .desc a{
    background-color: #e0ded1;
    padding: 10px;
    border-radius: 10px;
}

.desc{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
