:root{
    /* Color Variables */
    --highlight-color: #F1485B;
    --main-text-color: black;
    --background-color:#f6f1ea;
    --contrast-text-color: #F7EFED;
    --pink-color:#f3baa7;
    --teal-color:#9fbeae;
    --darkbrown-color:#401e14;


    
    /* Font Variables */
    --main-font: 'Noto Sans SC', 'Trebuchet MS', Tahoma, sans-serif;
    --content-font: 'Quicksand', 'Lucida Grande', Tahoma, sans-serif;
}
