table { 
    text-align: center;
    margin: 50px;
}

.body h1{background-color: var(--pink);}

li{list-style: none;}
li img{margin-right: 20px;}

.body ul{
    margin-top: 30px;
}
span{font-weight: bold;}

p b{
    font-size: larger;
    background-color: var(--teal);
    padding: 10px;

    border-radius: 10px;
}

.title b{font-size: x-large;}
.data{margin-top: 40px; display: block;}

footer a, .desc a{
    background-color: #e0ded1;
    padding: 10px;
    border-radius: 10px;
}

img{height: 30px; width: 30px; margin-right: -20px;}