table { 
    text-align: center;
    margin: 50px;
}

.body h1{background-color: var(--pink);}
h2{background-color: var(--pink);}

li{list-style: none;}

.body ul{
    margin-top: 30px;
}
span{font-weight: bold;}

p{
    padding-top: 20px;
}

p b{
    font-size: larger;
    background-color: var(--teal);
    padding: 10px;
    border-radius: 10px;
}

.title b{font-size: larger;}
.data{margin-top: 40px; display: block;}

footer a, .desc a{
    background-color: #e0ded1;
    padding: 10px;
    border-radius: 10px;
}

.data ul{
    padding: 0px;
}