body{
    display:block;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--darkbrown);
    
}

a:link    { color: var(--darkbrown);}
a:visited { color: var(--darkbrown);}
a:hover   { color: var(--highlight-color);}
a:active  { color: var(--highlight-color);}

th{
    padding: 20px;
    color: var(--darkbrown);
    font-weight: bolder;
    font-size: large;

}
header, main ,footer, table { 
    text-align: center;
    align-content: center;
    
}

footer{
    font-size: smaller;
}

footer a{
    background-color: #e0ded1;
    padding: 10px;
    border-radius: 10px;
}

table{
    padding-bottom: 100px;
    padding: 100px;
    background-color: var(--teal);
    margin: -5px;
    border-radius: 5px;
}

.rm, .view{
    margin: 20px;
    

}


.centre{
    margin-left:auto;
    margin-right: auto;
}

ul li {
    display: inline-block;
    padding: 30px;
    list-style: none;
    
}

.favs{
    display: inline-block;
    padding: 20px;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    background-color: var(--pink);
}

img{height: 30px; width: 30px; margin-right: -20px;}
nav ul li a{padding:30px;}
button{
    font-family: 'Courier New', Courier, monospace; 
    padding: 10px 20px; 
    border-radius: 10px;
}
td{
    padding-left: 20px;
    padding-right: 20px;
}
